    <h1>Submit new blog</h1>

    <form>
  <div class="form-group">
    <label for="newBlogTitleLabel">Title</label>
    <input class="form-control" id="newBlogName" placeholder="Your Blog Title">
  </div>
  <div class="form-group">
    <label for="newBlogContentLabel">Blog Contents</label>
    <textarea class="form-control" id="newBlogBody" rows="3" placeholder="Your Blog Contents"></textarea>
  </div>
  <button id="submitNewBlog" class="btn btn-primary">Submit</button>
</form>
    
    <h1>your posts:</h1>
    <ul>
        {{#each blogs}}

        <li id={{id}}>

            <h3>{{name}}</h3>
            <h6>{{body}}</h6>

        </li>

        {{/each}}
    </ul>